.item{
    text-align: center;
}
.img_c{
    width: 15%;
    max-height: 80%;
}
.line{
    display:inline-block;
    margin-inline-end: 1vw;
    margin-inline-start: 1vw;
}
.title{
    margin-inline-start: 0;
    margin-top: 1.5%;
}
.total{
    margin-top: 1%;
}
.emptyMessage{
    color: rgb(223, 17, 17);
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.item .info {
    padding: 7.8rem 0.5rem !important;
}

.item .info .btn {
    margin-top: 0.5rem;
}

.item .img_c {
    width: 40% !important;
    max-height: 100% !important;
}
.card .qtyButtons .form-control {
    width: 20rem;
}