

.item{
    text-align: center;
    display: flex;
}
.img_c{
    
    width: 50%;
    max-height: 80%;
}
.line{
    display:inline-block;
    margin-inline-end: 1vw;
    margin-inline-start: 1vw;
}
.title{
    margin-inline-start: 0;
    margin-top: 1.5%;
}
.total{
    margin-top: 1%;
}
.emptyMessage{
    color: rgb(223, 17, 17);
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.order-item .title {
    font-size: 20px;
}

.order-completed {
    margin: 150px;
}

.dark-header {
    background-color: rgba(0,0,0,.1);
}