
.main{
    width: 100%;
}
.user{
    float: right;
}
.button {
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    
    /* input has OS specific font-family */
    color: rgb(34, 75, 95);
    text-decoration: underline;
    cursor: pointer;
    float: right;;
    margin-inline-end: 3%;
  }
  .button-logging {
    float: right;
  }
.logo-img {
    width: 25%;
}
  