 .box_search {
    float: left;
    width: 30% !important;
    padding: 0.1%;
  }
  
.box_apply {
    float: left;
    width: 8% !important;
  }
  .minmax {
    margin-top: 0.5rem !important;
  }
/*.box_min {
    float: left;
    width: 40%;
    padding: 0.1%;
  }
.box_max {
    float: left;
    width: 40%;
    padding: 0.1%;
  } */
  