.button{
    background-color: #008CBA; 
    border: none;
    color: #fcfffc;
    padding: 2px 17%;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin:auto;
    transition-duration: 0.5s;
    cursor: pointer;
  
}
.button2 {
    background-color: white; 
    color: black; 
    border: 1px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  .product-img {
    width:100%;
  }

  .view-product-container {
    padding: 0px;
    margin: 20px 0px;
  }

  .view-producr-card {
    border: none;
  }

  .view-producr-card .price {
    text-align: center;
    margin: 15px 0px 5px 0px;
  }
  
  .view-producr-card .id {
    text-align: center;
    align-self: center;
    margin: 5px 0px 15px 0px;
  }

  .view-producr-card .name {
    font-size: 30px;
  }
